#Проект по аналитике опубликованных вакансий на LinkedIn

##Цели и задачи

**Исходные данные:** таблица csv с результатом парсинга вакансий LinkedIn в HTML-формате.

**Цель:** визуализировать информацию о рынке вакансий для аналитиков в Европе.

**Задачи:**

- распарсить предоставленный csv файл создав следующие
признаки:
    - наименование вакансии
    - город;|
    - страна;
    - тип занятости;
    - компания;
    - размер компании (количество работников);
    - сфера деятельности компании;
    - требуемые хард скилы;
    - дата публикации вакансии;
    - количество кандидатов на вакансию.

- проверить данные на дубликаты и не релевантные заданию вакансии.
- построить интерактивный дашборд в BI системе.

##Загрузка данных

In [ ]:
# испортируем библиотеки

import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np
import csv

from IPython.display import display, HTML
pd.set_option("max_colwidth", 100)
pd.set_option("display.max_rows", None)

from datetime import datetime, timedelta

from warnings import filterwarnings
pd.options.mode.chained_assignment = None
from tqdm.notebook import tqdm

In [ ]:
# загрузим файл

from google.colab import files

data = files.upload()

Saving masterskaya_parsing_LinkedIn_2023_05_23.csv to masterskaya_parsing_LinkedIn_2023_05_23.csv

In [ ]:
# загрузим данные в переменную df и выведем первые 5 строк датафрейма

df = pd.read_csv('masterskaya_parsing_LinkedIn_2023_05_23.csv')
df.head(5)

,Unnamed: 0,html
0,0,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing..."
1,1,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing..."
2,2,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing..."
3,3,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing..."
4,4,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing..."

In [ ]:
# посмотрим, как выглядела бы вакансия на сайте

display(HTML(df['html'][192]))

##Получение данных

###Наименование вакансии

In [ ]:
# загрузим данные по наименованию вакансии в столбец name

df['name'] = [BeautifulSoup(df['html'][x]).find('h2').text for x in tqdm(range(len(df['html'])))]

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
df.head()

,Unnamed: 0,html,name
0,0,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst
1,1,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst - Logistics
2,2,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst - Logistics
3,3,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst (Space & Planning)
4,4,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst

###Город и страна

Чтобы получить данные по городу и стране, предварительно создадим столбец с полными данными о локации.

In [ ]:
df['area'] = np.nan

df['area'] = [BeautifulSoup(df['html'][x]).find('span', class_='jobs-unified-top-card__bullet').text.strip() for x in tqdm(range(len(df['html'])))]

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
df.head()

,Unnamed: 0,html,name,area
0,0,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst,"Basel, Basel, Switzerland"
1,1,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst - Logistics,"Coventry, England, United Kingdom"
2,2,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst - Logistics,"Coventry, England, United Kingdom"
3,3,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst (Space & Planning),"South Molton, England, United Kingdom"
4,4,"\n <div>\n <div class=""\n jobs-details__main-content jobs-details__main-content--sing...",Data Analyst,"Lugano, Ticino, Switzerland"

In [ ]:
# разделим значения столбца area на столбцы с городом, регионом и страной

df[['city', 'location', 'country']] = df['area'].str.split(pat=',', expand=True)

Для более точного указания стран, создадим список стран мира, а потом проверим данные на соответствие ему.

In [ ]:
# создадим список стран мира

countries = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
             'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
             'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
             'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
             'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
             'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
             'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
             'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
             'Congo, Democratic Republic of the',
             'Congo, Republic of the', 'Costa Rica',
             "Cote d'Ivoire", 'Croatia', 'Cuba',
             'Cyprus',
             'Czech Republic', 'Czechia',
             'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
             'East Timor (Timor-Leste)', 'Ecuador', 'Egypt', 'El Salvador',
             'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini (formerly Swaziland)',
             'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
             'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
             'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
             'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
             'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
             'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
             'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
             'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
             'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
             'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
             'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
             'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia (formerly Macedonia)',
             'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine State', 'Panama',
             'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
             'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
             'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
             'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
             'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
             'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
             'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Tibet', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
             'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
             'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

Создадим столбец country, в который будем добавлять страну по соответствию ее упоминания в столбце area нашему списку стран мира.

In [ ]:
res_country = []

for index in tqdm(range(len(df['html']))):
  country_list = []
  for country in countries:
    if country in df['area'][index]:
      country_list.append(country)
  res_country.append(country_list)

df['country'] = res_country
df['country'] = df['country'].apply(lambda x: ''.join(x))

  0%|          | 0/998 [00:00<?, ?it/s]

###Тип занятости

In [ ]:
df['employment_type'] = np.nan

for x in tqdm(range(len(df['html']))):
  try:
    df['employment_type'][x] = BeautifulSoup(df['html'][x]).find('span', class_='jobs-unified-top-card__workplace-type').text
  except:
    continue

  0%|          | 0/998 [00:00<?, ?it/s]

###Название компании

In [ ]:
# соберем в столбец company_title названия компаний

df['company_title'] = np.nan

for x in tqdm(range(len(df['html']))):
  try:
    df['company_title'][x] = BeautifulSoup(df['html'][x]).find('div', class_ = 'jobs-unified-top-card__primary-description').find('a').text.strip()
  except:
    continue

  0%|          | 0/998 [00:00<?, ?it/s]

### Размер компаний

In [ ]:
# соберем в столбец company_size данные о размере компании

df['company_size'] = np.nan

for x in tqdm(range(len(df['html']))):
  try:
    df['company_size'][x] = BeautifulSoup(df['html'][x]).find('div', class_='mt5 mb2').find_all('span')[1].text.split()[0]
  except:
    continue

  0%|          | 0/998 [00:00<?, ?it/s]

###Сфера деятельности компаний

In [ ]:
# соберем в столбец industry информацию о сфере деятельности компании

df['industry'] = np.nan

for x in tqdm(range(len(df['html']))):
  try:
    df['industry'][x] =  BeautifulSoup(df['html'][x]).find('div', class_ = 't-14 mt5').text.strip().split(sep='\n')[0]
  except:
    continue

  0%|          | 0/998 [00:00<?, ?it/s]

###Требуемые хард скилы

In [ ]:
# соберем в столбец description описания вакансий в нижнем регистре

df['description'] =[BeautifulSoup(df['html'][x]).find(
    'div', class_='jobs-box__html-content jobs-description-content__text t-14 t-normal jobs-description-content__text--stretch').find('span').text.strip().lower() for x in tqdm(range(len(df['html'])))]

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
df['description'] = df['description'].str.split(pat=' ')

In [ ]:
# соберем в столбец description_2 описания раздела Skills в карточках вакансий

df['description_2'] = np.nan

for x in tqdm(range(len(df['html']))):
  try:
    df['description_2'][x] = BeautifulSoup(df['html'][x]).find('div', class_='mt5 mb2').find_all('span')[-1].text.split(sep=':')[1].strip().split(sep=', +')[0].lower()
  except:
    continue

df['description_2'] = df['description_2'].fillna('n/a')

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
df['description_2'] = df['description_2'].str.split(pat=' ')

In [ ]:
# создадим список хард-скиллов

skills = (['a/b testing', 'ab testing', 'actian', 'adobe analytics', 'adobe audience manager',
    'adobe experience platform', 'adobe launch', 'adobe target', 'airflow',
    'alooma', 'alteryx', 'amazon machine learning', 'amazon web services', 'aml',
    'amplitude', 'ansible', 'apache camel', 'apache nifi', 'apache spark',
    'api', 'asana', 'auth0', 'aws', 'aws glue', 'azure', 'azure data factory',
    'basecamp', 'bash', 'beats', 'big query', 'bigquery', 'birst', 'bitbucket',
    'blendo', 'bootstrap', 'business objects bi', 'c#', 'c++', 'caffe', 'cassandra',
    'cdata sync', 'chronograf', 'ci/cd', 'cicd', 'clickhouse', 'cloudera', 'cluvio',
    'cntk', 'cognos', 'composer', 'computer vision', 'conda', 'confluence',
    'couchbase', 'css', 'd3.js', 'dash', 'dashboard', 'data factory', 'data fusion',
    'data mining', 'data studio', 'data warehouse', 'databricks', 'dataddo',
    'dataflow', 'datahub', 'dataiku', 'datastage', 'dbconvert', 'dbeaver', 'dbt',
    'deep learning', 'dl/ml', 'docker', 'domo', 'dune', 'dv360', 'dynamodb',
    'elasticsearch', 'elt', 'erwin', 'etl', 'etleap', 'excel', 'facebook business manager',
    'fivetran', 'fuzzy', 'ga360', 'gcp', 'gensim', 'ggplot', 'git', 'github', 'gitlab',
    'google ads', 'google analytics', 'google cloud platform', 'google data flow',
    'google optimize', 'google sheets', 'google tag manager', 'google workspace',
    'grafana', 'hadoop', 'hana', 'hanagrafana', 'hbase', 'hdfs', 'hevo data', 'hightouch',
    'hive', 'hivedatabricks', 'html', 'hubspot', 'ibm coremetrics', 'inetsoft',
    'influxdb', 'informatica', 'integrate.io', 'iri voracity', 'izenda', 'java',
    'java script', 'javascript', 'jenkins', 'jira', 'jmp', 'julia', 'jupyter',
    'k2view', 'kafka', 'kantar', 'kapacitor', 'keras', 'kibana', 'kubernetes',
    'lambda', 'linux', 'logstash', 'looker', 'lstm', 'luidgi', 'matillion', 'matlab',
    'matplotlib', 'mendix', 'metabase', 'microsoft sql', 'microsoft sql server',
    'microstrategy', 'miro', 'mixpanel', 'ml', 'ml flow', 'mlflow', 'mongodb', 'mxnet',
    'mysql', 'natural nanguage processing', 'neo4j', 'nlp', 'nltk', 'nosql', 'numpy',
    'oauth', 'octave', 'omniture', 'omnituregitlab', 'openshift', 'openstack',
    'optimizely', 'oracle', 'oracle business intelligence', 'oracle data integrator',
    'pandas', 'panorama', 'pentaho', 'plotly', 'postgre', 'postgresql', 'posthog',
    'power amc', 'power bi', 'power point', 'powerbi', 'powerpivot', 'powerpoint',
    'powerquery', 'pyspark', 'python', 'pytorch', 'pytorchhevo data', 'qlik',
    'qlik sense', 'qlikview', 'querysurge', 'r', 'raphtory', 'rapidminer', 'redash',
    'redis', 'redshift', 'retool', 'rivery', 'rust', 's3', 'sa360', 'salesforce', 'sap',
    'sap business objects', 'sas', 'sas visual analytics', 'scala', 'scikit-learn',
    'scipy', 'seaborn', 'segment', 'selenium', 'sem rush', 'semrush', 'shell', 'shiny',
    'singer', 'sisense', 'skyvia', 'snowflake', 'spacy', 'spark', 'sparkml', 'splunk',
    'spotfire', 'spreadsheet', 'spss', 'sql', 'ssis', 'sssr', 'stambia', 'statistics',
    'statsbot', 'stitch', 'streamlit', 'streamsets', 'svn', 't-sql', 'tableau', 'talend',
    'targit', 'tealium', 'telegraf', 'tensorflow', 'terraapi', 'terraform', 'theano',
    'thoughtspot', 'timeseries', 'trello', 'unix', 'vba', 'vtom', 'webfocus', 'wfh',
    'xplenty', 'xtract.io', 'yellowfin'
          ])

In [ ]:
# создадим столбец с хард-скиллами, взяв их из нашего списка хард-скилло и проверив нахождение каждого в столбцах description и description_2

res = []

for index in tqdm(range(len(df['html']))):
  skills_list = []
  for skill in skills:
    if skill in df['description'][index]:
      skills_list.append(skill)
    elif skill in df['description_2'][index]:
      skills_list.append(skill)

  res.append(skills_list)

df['skills'] = res

  0%|          | 0/998 [00:00<?, ?it/s]

###Время публикации вакансии

In [ ]:
# создадим столбец date, собрав в него данные по времени публикации вакансий

df['date'] = [' '.join(BeautifulSoup(df['html'][x]).find('span', class_='jobs-unified-top-card__posted-date').text.strip().split()[0:2]) for x in tqdm(range(len(df['html'])))]

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
# посмотрим на уникальные значения столбца date

df['date'].unique()

array(['1 week', '2 weeks', '6 days', '3 weeks', '2 days', '1 day',
       '4 days', '4 weeks', '3 days', '5 days', '12 minutes',
       '29 minutes', '5 hours', '8 hours', '6 hours', '9 hours',
       '11 hours', '12 hours', '7 hours', '10 hours'], dtype=object)

In [ ]:
# определим текущую дату как дату сбора данных из источника, взяв ее из названия файла

date = datetime.strptime('23.05.2023', '%d.%m.%Y')

In [ ]:
# вычислим дату публикации вакансии как разницу между относительной текущей датой и данными столбца date

df['dt'] = np.nan

for x in tqdm(range(len(df['html']))):
  if 'week' in df['date'][x] or 'weeks' in df['date'][x]:
    df['dt'][x] = (date - timedelta(weeks=int(df['date'][x][0]))).strftime('%d.%m.%Y')
  elif 'day' in df['date'][x] or 'days' in df['date'][x]:
    df['dt'][x] = (date - timedelta(days=int(df['date'][x][0]))).strftime('%d.%m.%Y')
  else:
    df['dt'][x] = date.strftime('%d.%m.%Y')

  0%|          | 0/998 [00:00<?, ?it/s]

###Количество кандидатов на вакансию

In [ ]:
df['applicants'] = np.nan


for x in tqdm(range(len(df['html']))):
  try:
    df['applicants'][x] = BeautifulSoup(df['html'][x]).find('div', class_='jobs-unified-top-card__primary-description').find('span', class_='jobs-unified-top-card__applicant-count').text.strip().split()[0]
  except:
    continue

  0%|          | 0/998 [00:00<?, ?it/s]

###Формирование итогового датасета

In [ ]:
# сохраним в датасете только нужные нам данные

df_final = df[['name', 'city', 'country',
       'employment_type', 'company_title', 'company_size', 'industry',
       'skills', 'dt', 'applicants']]

df_final = df_final.rename(columns={'Unnamed: 0':'id'})

###Вывод

Мы распарсили предоставленный csv файл и создали следующие
признаки:

 - наименование вакансии
 - город;
 - страна;
 - тип занятости;
 - компания;
 - размер компании (количество работников);
 - сфера деятельности компании;
 - требуемые хард скилы;
 - дата публикации вакансии;
 - количество кандидатов на вакансию.

Данные готовы к предобработке.

##Предобработка данных

In [ ]:
# заменим пустые ячейки в столбце country на nan

for x in tqdm(range(len(df_final))):
  if df_final['country'][x] == '':
    df_final['country'][x] = np.nan

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
for x in tqdm(range(len(df['html']))):
  df_final['skills'][x] = ' '.join(df_final['skills'][x]).replace(' ', ', ')

  0%|          | 0/998 [00:00<?, ?it/s]

In [ ]:
# посчитаем дубликаты

df_final.duplicated().sum()

112

In [ ]:
# удалим дубликаты

df_final = df_final.drop_duplicates().reset_index(drop = True)

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             886 non-null    object
 1   city             886 non-null    object
 2   country          836 non-null    object
 3   employment_type  819 non-null    object
 4   company_title    875 non-null    object
 5   company_size     865 non-null    object
 6   industry         853 non-null    object
 7   skills           886 non-null    object
 8   dt               886 non-null    object
 9   applicants       727 non-null    object
dtypes: object(10)
memory usage: 69.3+ KB

In [ ]:
# приведем столбец с датой вакансии к формату datetime

df_final['dt'] = pd.to_datetime(df_final['dt'],  format='%d.%m.%Y')

In [ ]:
# приведем столбец с числом соискателей к формату float

df_final['applicants'] = df_final['applicants'].astype('float')

In [ ]:
# изучим уникальные значения столбца company_size

df_final['company_size'].value_counts()

10,001+         217
1,001-5,000     183
51-200          165
201-500          86
501-1,000        67
5,001-10,000     59
11-50            53
1-10             25
See               7
Retail            1
Svein             1
Romain            1
Name: company_size, dtype: int64

In [ ]:
# заменим некорретные значения столбца company_size с размером компании на Nan

df_final.loc[df_final['company_size'] == 'See', 'company_size'] = np.nan
df_final.loc[df_final['company_size'] == 'Retail', 'company_size'] = np.nan
df_final.loc[df_final['company_size'] == 'Romain', 'company_size'] = np.nan
df_final.loc[df_final['company_size'] == 'Svein', 'company_size'] = np.nan

In [ ]:
# изучим уникальные значения городов

df_final['city'].unique()

array(['Basel', 'Coventry', 'South Molton', 'Lugano', 'Southampton',
       'Leeds', 'Nuneaton', 'Paris', 'Cambridge', 'West Midlands',
       'Schiphol', 'Chester', 'Craven Arms', 'Dublin', 'Belfast',
       'Sunderland', 'Montévrain', 'Bristol', 'Solihull', 'Blackpool',
       'Cracow', 'Dijon', 'Alsónémedi', 'Manchester',
       'Elliniko-Argyroupoli', 'Italy', 'Umeå', 'North Holland',
       'Vilnius', 'Durham', 'Oudenaarde', 'Milan', 'Stockholm County',
       'Luxembourg', 'Roubaix', 'Munich', 'Zaventem',
       'Brussels Metropolitan Area', 'Portugal', 'West Malling',
       'Greater Paris Metropolitan Region', 'France', 'Bulgaria', 'Lille',
       'Egham', 'Karlstad', 'Madrid', 'Barcelona', 'Oxford', 'Hungary',
       'Brussels', 'Taibon', 'Epsom', 'Amsterdam', 'Spinea',
       'Greater Palma de Mallorca Metropolitan Area', 'Brindisi',
       'Boulogne-Billancourt', 'Wolfsburg', 'Nantes', 'Derby', 'Lund',
       'Garwolin', 'Stockholm', 'Rome', 'Massy', 'Prague',
       'Middlesbrough', 'Viladecans', 'Warsaw Metropolitan Area',
       'Eindhoven', 'Warsaw', 'Budapest', 'London',
       'Wroclaw Metropolitan Area', 'Amersfoort', 'Hamburg', 'Poland',
       'The Hague', 'Chappes', 'Sintra', 'Riga', 'Coimbra', 'Tartu',
       'Île-de-France', 'Issy-les-Moulineaux', 'Hawthorn',
       'Greater Barcelona Metropolitan Area', 'Lyon', 'Valletta',
       'Stuttgart', 'Galway', 'Berlin', 'Olèrdola', 'Neuilly-sur-Seine',
       'Wasserburg (Bodensee)', 'Gdynia', 'Bordeaux', 'Rouen', 'Mechelen',
       'Milton Keynes', 'Bari', 'Vienna', 'Newcastle upon Tyne',
       'Cerdanyola del Vallès', 'Naples', 'Nova Milanese', 'Baierbrunn',
       'Parma', 'Lindau', 'Bergen op Zoom', 'Iasi Metropolitan Area',
       'Gdańsk', 'Bodelshausen', 'Marlow', 'Brussels Region',
       'La Défense', 'Lisbon', 'Porto', 'The Randstad', 'Neuss', 'Ghent',
       'San Ġiljan', 'Cologne', 'Rijswijk', 'Tessenderlo', 'St.-Ouen',
       'Buckinghamshire', 'Bologna', 'Hasselt', 'Bath', 'Dresden',
       'Cologne Bonn Region', 'Wiesbaden', 'Greater Munster Area',
       'Utrecht', 'Mülheim an der Ruhr', 'Zwaagdijk-Oost', 'Heerlen',
       'Hatfield', 'Harlestone', 'Nanterre', 'Hook of Holland',
       'Greater Banska Bystrica Area',
       'Greater Nuremberg Metropolitan Area', 'Oslo', 'Szczecin',
       'Villes', 'Doncaster', 'County Dublin', 'Berlin Metropolitan Area',
       'Villeneuve-d’Ascq', 'Toulouse', 'Meudon', 'Padua', 'Rotterdam',
       'Levallois-Perret', 'Copenhagen', 'Germany', 'Espoo', 'Karlsruhe',
       'Limburg', 'Schwäbisch Gmünd', 'Sundsvall', 'Neckarsulm',
       'Düsseldorf', 'Gillingham', 'Bucharest', 'Emmen', 'Guissona',
       'Hoofddorp', 'Weinheim', 'West Flanders', 'Busto Arsizio',
       'Lisboa', 'Jena', 'Worksop', 'Vilvoorde', 'Bergisch Gladbach',
       'Drammen', 'Frankfurt', 'Athens', 'Zeist', 'Groningen',
       'Louvain-la-Neuve', 'Mannheim', 'Rotterdam and The Hague', 'Łódź',
       'St.-Denis', 'Grenzach-Wyhlen', 'Prague Metropolitan Area',
       'Essen', 'Leipzig', 'Iráklion', "Vaprio d'Adda", 'Gloucestershire',
       'Denmark', 'Frankfurt am Main', 'Ahlen', 'Sofia', 'Cesate',
       'Binasco', 'Bellinzago Lombardo', 'Cernusco sul Naviglio',
       'Manchester Area', 'Colturano', 'Truccazzano', 'Inzago', 'Pistoia',
       'Canegrate', 'Lombardy', 'Coburg', 'Greater Pau Area',
       'San Zenone al Lambro', "Cassina de' Pecchi", 'Monaco', 'Höchberg',
       'Palermo', 'Treviso', 'Thessaloniki', 'Courbevoie', 'Doesburg',
       'Tussenhausen', 'Arluno', 'Hückelhoven', 'Eisenach', 'Hereford',
       'Erstein', 'Szombathely', 'Ronneby', 'Elmshorn', 'Pioltello',
       'Bremen', 'Lidköping', 'Ede', 'Vannes', 'Vittuone',
       'Lisbon Metropolitan Area', 'Faenza', 'Tallinn', 'Farum',
       'Ziano di Fiemme', 'Rethymno', 'Braine-l’Alleud',
       'Vila Nova de Cerveira', 'Campodarsego', 'Bonn', 'Hertfordshire',
       'Lelystad', 'Athens Metropolitan Area', 'Marsa', 'Elsbethen',
       'Augusta', 'Ottignies-Louvain-la-Neuve', 'Fuschl am See', 'Solna',
       'Wrocław', 'Greater Lyon Area', 'Salzburg',
       'Greater Milan Metropolitan Area', 'Senago', 'Åre', 'Bilbao-Bilbo',
       'Bois-Colombes', 'Vitoria-Gasteiz', 'Cusano Milanino', 'Dresano',
       'Clichy', 'Douai', "'s-Hertogenbosch", 'Kaiserslautern',
       'Zoetermeer', 'Cagliari', 'Moulineaux', 'Zagreb', 'Flemish Region',
       'Stuttgart Region', 'Zwevezele', 'Košice', 'Calvignasco', 'Telde',
       'Ronda', 'Chevigny-Saint-Sauveur', 'Gessate',
       'Arrasate / Mondragón', 'Rozzano', 'Vanzago', 'Esch-Sur-Alzette',
       'Gattinara', 'Danderyd', 'Sesto San Giovanni', 'Turin', 'Savona',
       'Cornaredo', 'Torremolinos', 'Lucerne', 'Monza', 'Spain', 'Carpi',
       'Greater Dijon Area', 'County Cork', 'Poissy', 'Kontich',
       'Frosinone', 'Amstelveen', 'San Donato Milanese', 'Valladolid',
       'Amsterdam Area', 'Suresnes', 'Laudio / Llodio', 'Holzwickede',
       'Palaión Fáliron', 'Lacchiarella', 'Finland',
       "Sant'Elpidio a Mare", 'Terranuova Bracciolini', 'Gennevilliers',
       'Sparta', 'Brunswick', 'Corsico', 'Aalborg', 'Florence', 'Chaucer',
       'Dobříš', 'Heidelberg', 'Liguria', 'Cusago', 'Oeiras',
       'Greater Oslo Region', 'Leinfelden-Echterdingen', 'Timişoara',
       'Nuremberg', 'Edinburgh', 'Romania', 'Netherlands', 'Bertrange',
       'Piraeus', 'Arnhem', 'Sliema', 'Aix-en-Provence', 'Gießen',
       'Debrecen', 'Bergamo', 'Eindhoven Area', 'Ulm',
       'Greater Munich Metropolitan Area', 'Grünheide', 'Leiden',
       'Boadilla del Monte', 'Bracknell', 'Venlo', 'Münster', 'Orosháza',
       'Osnabrück', 'Vitry-sur-Seine', 'Mönchengladbach', 'Carpiano',
       'Rosate', 'Gaydon', 'Pordenone', 'Kosice', 'Charenton-le-Pont',
       'Liège', 'Raamsdonksveer', 'Matera', 'Jonkoping County', 'Croix',
       'Helsinki', 'Luleå', 'Greater Madrid Metropolitan Area', 'Genoa',
       'Ireland', 'Bernay', 'Helsingborg', 'Lithuania',
       'Fontenay-sous-Bois', 'Vila do Conde', 'Mainz', 'Bollate',
       'Pieve Emanuele', 'Krakow Metropolitan Area', 'Guyancourt',
       'Sant Just Desvern', 'Nice', 'San Colombano al Lambro',
       'Dublin City', 'Basingstoke', 'Sundbyberg',
       'Greater Verona Metropolitan Area', 'Albuzzano', 'Arconate',
       'Birkirkara', 'St-Malo', 'Sligo', 'Crolles', 'Trezzano Rosa',
       'Plaisir', 'Imola', 'Bègles', 'Novate Milanese', 'Waddinxveen',
       'Palaiseau', 'Szentendre', 'Moravia-Silesia', "Cassano d'Adda",
       'Puteaux', 'Székesfehérvár', 'Cork', "Granarolo dell'Emilia",
       'Malmö', 'Sedriano', 'Nitra Region', 'Paterna', 'Ancona',
       'Vanzaghello', 'Recanati', "Trezzo sull'Adda", 'Getafe', 'Arcole',
       'Ostellato', 'Belas', 'Koerich', 'Sant Cugat del Vallès',
       'Copenhagen Metropolitan Area', 'Marcallo con Casone', 'Palma',
       'Valencia', 'Vermezzo'], dtype=object)

In [ ]:
# удалим названия стран из списка городов

for city in tqdm(df_final['city'].unique()):
  for country in countries:
    df_final.loc[df_final['city'] == country, 'city'] = np.nan

  0%|          | 0/428 [00:00<?, ?it/s]

In [ ]:
# отфильтруем датасет, оставив в нем только вакансии аналитиков, по корню слова analyst

res =[]


for x in tqdm(range(len(df_final))):
  if 'Anal' in df_final['name'][x] or 'DA' in df_final['name'][x]:
    res.append(True)
  else:
    res.append(False)

df_final['relevance'] = res

df_final = df_final[df_final['relevance'] == True].reset_index(drop=True).drop(columns='relevance')

  0%|          | 0/886 [00:00<?, ?it/s]

In [ ]:
# выделим в отдельный столбик вакансии для джунов

res =[]

for x in tqdm(range(len(df_final))):
  if 'Jun' in df_final['name'][x]:
    res.append(True)
  else:
    res.append(False)

df_final['junior_status'] = res

  0%|          | 0/631 [00:00<?, ?it/s]

In [ ]:
# выделим в отдельном столбце вакансии для bi аналитиков

res =[]

for x in tqdm(range(len(df_final))):
  if 'BI' in df_final['name'][x] or 'Intelligence' or 'business intelligence analyst' in df_final['name'][x]:
    res.append(True)
  else:
    res.append(False)

df_final['bi_status'] = res

  0%|          | 0/631 [00:00<?, ?it/s]

In [ ]:
# выделим в отдельном столбце вакансии для data аналитиков

res =[]

for x in tqdm(range(len(df_final))):
  if 'Data Analyst' in df_final['name'][x]:
    res.append(True)
  else:
    res.append(False)

df_final['data_analyst_status'] = res

  0%|          | 0/631 [00:00<?, ?it/s]

In [ ]:
# проставим id каждой вакансии


df_final['id'] = range(0, len(df_final))

In [ ]:
# преобразуем перечень навыков в списки

df_final['skills'] = df_final['skills'].str.split(pat=',')

In [ ]:
# развернем столбец skills так, чтобы на каждый навык приходилась одна строка

df_final = df_final.explode(
    column="skills", ignore_index=True
)

In [ ]:
# создадим столбец, в котором отметим все профессиональные направления вакансий

def type_vac(row):
  if row['junior_status'] == True:
    return 'Junior'
  if row['bi_status'] == True:
    return 'BI'
  if row['data_analyst_status'] == True:
    return 'DA'
  if row['data_analyst_status'] == True and row['junior_status'] == True:
    return 'DA'
  if row['bi_status'] == True and row['junior_status'] == True:
    return 'BI'
  else:
    return 'Other'

In [ ]:
df_final['vacancy_status'] = df_final.apply(type_vac, axis=1)

In [ ]:
df_final

                                                                        name  \
0                                                               Data Analyst
1                                                               Data Analyst
2                                                               Data Analyst
3                                                   Data Analyst - Logistics
4                                            Data Analyst (Space & Planning)
5                                                               Data Analyst
6                                                               Data Analyst
7                                                               Data Analyst
8                                                               Data Analyst
9                                                   Data Analyst - Logistics
10                                                              Data Analyst
11                                                              Data Analyst
12                                                              Data Analyst
13                                             Data Analyst - Hybrid Working
14                                                              Data Analyst
15                                                   Commercial Data Analyst
16                                                   Commercial Data Analyst
17                                                        Asset Data Analyst
18                                                     Data Analyst - Hybrid
19                                                              Data Analyst
20                                                              Data Analyst
21                                                              Data Analyst
22                                                              Data Analyst
23                                                              Data Analyst
24                                                              Data Analyst
25                                                              Data Analyst
26                                                         Data Analyst (FT)
27                                                              Data Analyst
28                                                              Data Analyst
29                                                              Data Analyst
30                                                              Data Analyst
31                                                          Data Analyst H/F
32                                                              Data Analyst
33                                           Data Analyst (Space & Planning)
34                                                              Data Analyst
35                                                              Data Analyst
36                                                              Data Analyst
37                                                           Data Analyst II
38                                               Data Analyst (9 Months FTC)
39                                             Business Intelligence Analyst
40                                                        Data Analyst (F/H)
41                                                                BI Analyst
42                                             Business Intelligence Analyst
43                                             Business Intelligence Analyst
44                                             Business Intelligence Analyst
45                                                              Data Analyst
46                                                   Data Analyst Associate
47                                                   Data Analyst Associate
48                                             Business Intelligence Analyst
49                                             Business Intelligence Analyst
50                                             Business Intelligence Analyst
51                                             Business Intelligence Analyst
52                                                      Product Data Analyst
53                                                      Product Data Analyst
54                                                      Product Data Analyst
55                                                      Product Data Analyst
56                                                      Product Data Analyst
57                                                      Product Data Analyst
58                                                      Product Data Analyst
59                                                      Product Data Analyst
60                                                              Data Analyst
61                                                              Data Analyst
62                                                              Data Analyst
63                                                              Data Analyst
64                                                     Graduate Data Analyst
65                                                      Digital Data Analyst
66                                                      Digital Data Analyst
67                                      Business Intelligence Analyst Junior
68                                      Business Intelligence Analyst Junior
69                                      Business Intelligence Analyst Junior
70                                      Business Intelligence Analyst Junior
71                                                              Data Analyst
72                                                              Data Analyst
73                                                              Data Analyst
74                                                              Data Analyst
75                                                              Data Analyst
76                                                              Data Analyst
77                                                      Data Analyst (m/f/d)
78                                                              Data Analyst
79                                                              Data Analyst
80                                                              Data Analyst
81                                                              Data Analyst
82                                                              Data Analyst
83                                                              Data Analyst
84                                                                BI Analyst
85                                                                BI Analyst
86                                                                BI Analyst
87                                                                BI Analyst
88                                                              Data Analyst
89                                                              Data Analyst
90                                                              Data Analyst
91                                                              Data Analyst
92                                                              Data Analyst
93                                                              Data Analyst
94                                                              Data Analyst
95                                                              Data Analyst
96                                                              Data Analyst
97                                                              Data Analyst
98                                                              Data Analyst
99                                                      Analytics Consultant
100                                                     Analytics Consultant
101                                                            Data Analyst
102                                                         Data Analyst F/H
103                                                             Data Analyst
104                                                             Data Analyst
105                                                             Data Analyst
106                                                     Product Data Analyst
107                                                     Product Data Analyst
108                                                     Product Data Analyst
109                                                     Product Data Analyst
110                                                     Product Data Analyst
111                                                     Product Data Analyst
112                                                     Product Data Analyst
113                                                     Product Data Analyst
114                                                             Data Analyst
115                                                             Data Analyst
116                                                             Data Analyst
117                                                             Data Analyst
118                                                        Data Analyst H/F
119                                                 Statistical Data Analyst
120                                                             Data Analyst
121                                                             Data Analyst
122                                               Digital Data Analyst (H/F)
123                                                     Product Data Analyst
124                                                     Product Data Analyst
125                                                             Data Analyst
126                                                             Data Analyst
127                                                             Data Analyst
128                                                             Data Analyst
129                                                             Data Analyst
130                                                             Data Analyst
131                                                             Data Analyst
132                          Data Analyst - €60,- per hour - Amsterdam based
133                                                             Data Analyst
134                                                             Data Analyst
135                                                             Data Analyst
136                                                             Data Analyst
137                                                         Data Analyst H/F
138                                          Data & Analytics Senior Analyst
139                                          JUNIOR DATA ANALYST – Aerospace
140                                                Data Analyst - Operations
141                                                Data Analyst - Operations
142                                            Business Intelligence Analyst
143                                                       Data Analyst (H/F)
144                                    Business Intelligence Analyst (m/w/d)
145                                    Business Intelligence Analyst (m/w/d)
146                                    Business Intelligence Analyst (m/w/d)
147                                    Business Intelligence Analyst (m/w/d)
148                                    Business Intelligence Analyst (m/w/d)
149                                                       Data Analyst (F/H)
150                                               Analista superior de datos
151                                                             Data Analyst
152                                                             Data Analyst
153                                                             Data Analyst
154                                                             Data Analyst
155                                                             Data Analyst
156                                                     Product Data Analyst
157                                                     Product Data Analyst
158                                                     Product Data Analyst
159                                                     Product Data Analyst
160                                                     Product Data Analyst
161                                                     Product Data Analyst
162                                                     Product Data Analyst
163                                                     Product Data Analyst
164                                                             Data Analyst
165                                                             Data Analyst
166                                                             Data Analyst
167                                                             Data Analyst
168                                                             Data Analyst
169                                                             Data Analyst
170                                                             Data Analyst
171                                                             Data Analyst
172                                                      Junior Data Analyst
173                                                      Junior Data Analyst
174                                                     Digital Data Analyst
175                                                     Web Data Analyst F/H
176                                                     Web Data Analyst F/H
177                                                     Web Data Analyst F/H
178                                                     Web Data Analyst F/H
179                                                             Data Analyst
180                                                             Data Analyst
181                                                             Data Analyst
182                                                     Analytics Consultant
183                          Junior Data Analyst Power BI - CONTRATO 6 MESES
184                                                    Data Analyst - Milano
185                                                  Data Analyst (Engineer)
186                                                  Data Analyst (Engineer)
187                                                  Data Analyst (Engineer)
188                                                  Data Analyst (Engineer)
189                                                      Junior Data Analyst
190                                                   Data Analyst H/F _ CDD
191                                                      Junior Data Analyst
192                                                      Junior Data Analyst
193                                                      Junior Data Analyst
194                                                      Junior Data Analyst
195                                       Data Analyst - Analyste de données
196                                                        Analista de datos
197                                                        Analista de datos
198                                                        Analista de datos
199                                                             Data Analyst
200                       BI Analyst, Power BI Champion, CEE based in Warsaw
201                       BI Analyst, Power BI Champion, CEE based in Warsaw
202                                                     Data Analyst Tableau
203                                                     Data Analyst Tableau
204                                                     Data Analyst Tableau
205                                                     Data Analyst (m/f/d)
206                                                     Data Analyst (m/f/d)
207                                                             Data Analyst
208                                                             Data Analyst
209                                                             Data Analyst
210                                                             Data Analyst
211                                                             Data Analyst
212                                                             Data Analyst
213                                                             Data Analyst
214                                                             Data Analyst
215                                                 SQL/Data Analyst (m/w/d)
216                                                 SQL/Data Analyst (m/w/d)
217                                                          Analityk danych
218                                                          Analityk danych
219                                                Data Analyst - Operations
220                                                Data Analyst - Operations
221                                                       Data Analyst (H/F)
222                                                       Data Analyst (H/F)
223                                                   Data Analyst Reporting
224                                      Junior Data Analyst Sustainability
225                                                       Data Analyst (H/F)
226                                                             Data Analyst
227                                                             Data Analyst
228                                                     Product Data Analyst
229                                                           Data Analyst
230                                                           Data Analyst
231                                                           Data Analyst
232                                                           Data Analyst
233                                                           Data Analyst
234                                                           Data Analyst
235                                                           Data Analyst
236                                                             Data Analyst
237                                                 Data Analyst (h/f) - CDI
238                                     CDI - Data Analyst H/F - Yves Rocher
239                                                             Data Analyst
240                                                      Senior Data Analyst
241                                                       Data Analyst - H/F
242                                                  Retail Business Analyst
243                                                             Data Analyst
244                                                             Data Analyst
245                                       Global Onsite Data Analyst (m/w/d)
246                                                      Senior Data Analyst
247                                                             Data Analyst
248                                                             Data Analyst
249                                                       BI Analyst (m/w/d)
250                                                       BI-Analyst (m/w/d)
251                                                             Data Analyst
252                                                Data Analyst - Confirmé.e
253                                                     Data Analyst (m/w/d)
254                                                             Data Analyst
255                                                            Data Analyst
256                                                             Data Analyst
257                                                        Data Analyst  H/F

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 1074 non-null   object
 1   city                 1001 non-null   object
 2   country              1020 non-null   object
 3   employment_type      947 non-null    object
 4   company_title        1066 non-null   object
 5   company_size         1035 non-null   object
 6   industry             1031 non-null   object
 7   skills               1074 non-null   object
 8   dt                   1074 non-null   datetime64[ns]
 9   applicants           823 non-null    float64
 10  junior_status        1074 non-null   bool
 11  bi_status            1074 non-null   bool
 12  data_analyst_status  1074 non-null   bool
 13  id                   1074 non-null   int64
 14  vacancy_status       1074 non-null   object
dtypes: bool(3), datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 104.0+ KB

###Вывод

В ходе предобработки данных мы:

- Адаптировали форматы данных столбцов;
- Удалили дубликаты;
- Изучили уникальные значения столбцов и исправили неверные значения;
- Создали дополнительные признаки: отметили вакансии для джуниров, для BI специалистов и дата аналитиков;
- Проставили id для каждой вакансии;
- "Развернули" столбец со скилами, чтобы на каждый навык приходилась одна строка.

##Общий вывод

В ходе первого этапа работы мы:

- Распарсили предоставленный csv файл и создали следующие признаки:

    - наименование вакансии
    - город;
    - страна;
    - тип занятости;
    - компания;
    - размер компании (количество работников);
    - сфера деятельности компании;
    - требуемые хард скилы;
    - дата публикации вакансии;
    - количество кандидатов на вакансию.

- Адаптировали форматы данных столбцов;
- Удалили дубликаты;
- Изучили уникальные значения столбцов и исправили неверные значения;
- Создали дополнительные признаки: отметили вакансии для джуниров, для BI - специалистов и дата аналитиков;
- Проставили id для каждой вакансии;
- "Развернули" столбец со скилами, чтобы на каждый навык приходилась одна строка.

Данные готовы к визуализации.

In [ ]:
# выгрузим данные в таблицу csv

df_final.to_csv('linkedin_data.csv')

##Дашборд

Ссылка на дашборд: https://datalens.yandex/g4kei0mo53ao6